<table class="w-full">
  <tr>
    <td >
      <table>

  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>
<tr>
<td class="pl-[20px] pr-[20px]">
  <table>
    <tr>
      <td class="w-1/5">
        <x-image
        class="w-[110px]"
        imgUrl="Header_logo.png"
      />
      </td>
      <td class="text-[#002B2B] text-[12px] leading-[13.8px] w-4/5 pl-[20px]">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </td>
    </tr>
  </table>
</td>

</tr>
  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>
  <tr>
    <td class="w-full sm-w-full text-center">
      <x-image
      class="w-[560px]"
      imgUrl="Hero_Image.png"
    />
    </td>
  </tr>
  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>

</table>
</td>
</tr>
</table>
