<table class="w-full">
  <tr>
    <td class="pl-[20px] pr-[20px]">
      <table>
  <tr>
    <td class="text-[#005555] text-[24px] leading-[27.6px] font-bold text-center">
      Excepteur sint occaecat cupidatat 
    </td>
  </tr>
  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>
  <tr>
    <td class="text-[#444444] text-[16px] leading-[18.4px] text-center">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </td>
  </tr>
  <tr>
    <td><p class="text-[20px]">&nbsp;</p></td>
  </tr>

<tr>
  <td class="justify-items-center">
    <table>
      <tr>
        <td class="text-[#FFFFFF] text-[20px] leading-[23px] text-center font-bold w-[350px] rounded-xl bg-[#008080] pt-[10px] pb-[10px] ">
          Ut enim ad minim veniam
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><p class="text-[20px]">&nbsp;</p></td>
</tr>
</table>
</td>
</tr>
</table>
